
    <div class="row">
        <div class="col-md-6">
            Size
        </div>
        <div class="col-md-6">
            <input type="text" id="Size" name="Size" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Emblem
        </div>
        <div class="col-md-6" >
            @Html.DropDownList("Emblem","select")
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            50
        </div>
        <div class="col-md-6">
            <input type="text" id="First" name="First" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            100
        </div>
        <div class="col-md-6">
            <input type="text" id="Second" name="Second" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            200
        </div>
        <div class="col-md-6">
            <input type="text" id="Third" name="Third" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            300
        </div>
        <div class="col-md-6">
            <input type="text" id="Fourth" name="Fourth" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            500
        </div>
        <div class="col-md-6">
            <input type="text" id="Fifth" name="Fifth" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            1000
        </div>
        <div class="col-md-6">
            <input type="text" id="Sixth" name="Sixth" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            2000
        </div>
        <div class="col-md-6">
            <input type="text" id="Seventh" name="Seventh" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            3000
        </div>
        <div class="col-md-6">
            <input type="text" id="Eighth" name="Eighth" />
        </div>
    </div>
    <div class="row">
        <input type="button" id="btnListAdd" value="Add" />
    </div>
    <div class="row">
        <table id="tblList">
            <thead>
                <tr>
                    <td>Size</td>
                    <td>Emblem</td>
                    <td>50</td>
                    <td>100</td>
                    <td>200</td>
                    <td>300</td>
                    <td>500</td>
                    <td>1000</td>
                    <td>2000</td>
                    <td>3000</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
<div class="row">
     <input type="button" id="btnSaveList" value="Save" />
</div>

