
<div class="row form-group">
    <h3 class="signcode">
        Assign Codes To customer   
    </h3>
    <span id="close" style="cursor:pointer" data-toggle="tooltip" data-placement="right" title="Close">X</span>
</div>
<div class="row form-group" id="editModel" style="display:none" >
    <div class="col-md-6" style="color:red">
        <span>row which contains user <span id="username"></span> is in edit mode.</span>
        <span id="closeEdit">X</span>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <div class="row form-group">
            <div class="col-md-6">
                Pending user
            </div>
            <div class="col-md-6">
                @Html.DropDownList("UserID", "select--")
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row form-group">
            <div class="col-md-6">
                Price List
            </div>
            <div class="col-md-6">
                @Html.DropDownList("PriceList", "select--")
            </div>
        </div>        
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <div class="row form-group">
            <div class="col-md-6">
                Customer Code
            </div>
            <div class="col-md-6">
                <input type="text" id="customerCode" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row form-group">
            <div class="col-md-6">
                Vendor MFG Name
            </div>
            <div class="col-md-6">
                <input type="text" id="VendorMFG" />
            </div>
        </div>
    </div>
</div>
    
    @*<div class="row form-group">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            @Html.DropDownList("UserID", "select--")
        </div>

        <div class="col-md-6">

        </div>
    </div>*@
@*<div class="row form-group">
    <div class="col-md-6">
        
    </div>
    <div class="col-md-6">
        <input type="text" id="VendorMFG" />
    </div>
</div>*@
<br />
<div class="row form-group">
    <div class="col-md-6">
        <input type="button" value="Add to list" id="btnAssign" />
    </div>
</div>
<hr />
<div class="row form-group" style=" height: 140px;">
    <div class="col-md-12">
        <table id="codeTable" class="table table-striped table-bordered table-condensed">
            <tr>
                <th>UserName</th>
                <th>Customer Code</th>
                <th>PriceList</th>
                <th>VendorMFG</th>
                <th>Action</th>
            </tr>

        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <input type="button" value="Save" id="btnSave" />
    </div>
</div>
<input type="hidden" id="tempID"/>
<input type="hidden" id="editIndex" />
<input type="hidden" id="editUserID" />
