
@{
    ViewBag.Title = "Index";
}

@*<a href="/PriceLists/Create" data-toggle="tooltip" data-placement="right" title="Create new"><img src="~/images/add.png" class="create" /></a>*@
<div id="dataContainer">
    @Html.Action("PriceLists")
</div>

